<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="cbType" value="Txt" />
    <add key="txtFilePath" value="C:\Users\ext_tomt\Desktop\positive1.txt" />
    <add key="txtConn" value="Server=10.1.225.251;Database=Farmdata;User ID=ubuntu;Password=ubuntu;" />
    <add key="txtTable" value="txtTemp" />
    <add key="txtExcelTable" value="" />


  </appSettings>
</configuration>